div {
    position: relative;
    left: 45%;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    left: 15%;
    padding: 75px;
    top: 100px;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    border-radius: 10px;
}

input {
    width: 90%;
    margin-bottom: 4%;
    padding: 3px;
    border-radius: 3px;
}

button {
    border-radius: 5px;
    width: 96%;
    padding: 3px;
    background: red;
    color: aliceblue;
}

label {
    margin-bottom: 2%;
}

/* div {
    position: relative;
    left: 47%;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    left: 24%;
    padding: 75px;
    top: 100px;
    background-color: blue;
    color: aliceblue;
    align-items: center;
    border-radius: 10px;
}

input {
    width: 50%;
    margin-bottom: 2%;
    padding: 3px;
    border-radius: 3px;
}

button {
    border-radius: 5px;
    width: 52%;
    padding: 3px;
    background: red;
    color: aliceblue;
}

label {
    margin-bottom: 2%;
} */