main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/hulkvssuperman.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.superimg {
  height: 200px;
  width: 300px;
  margin: 9px 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    position: relative;
    padding: 75px;
    background-color: rgba(10, 10, 10, 0.5);
    color: aliceblue;
    align-items: center;
    border-radius: 10px;
    max-width: inherit;
}

input {
    width: 97%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    border: 2px solid black;
    font-size: 20px;
}

button {
  font-size: 20px;
  padding: 5px;
  border: 1px solid black;
  width: 100%;
  background-color: red;
  color: #cccccc;
  font-family: inherit;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
  }

label {
    margin-bottom: 10px;
    font-size: 18px;
}

@media only screen and (min-width: 492px) {
    label {
        font-size: 20px;
    }
}

@media only screen and (min-width: 700px) {
    main {
     background: url("../../assets/images/Marvel-vs-DC-marvel-comics-251228_1024_768.jpg");
     width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    }
}

@media only screen and (min-width: 1022px) {
    main {
     background: url("../../assets/images/marvelvscd1.jpg");
     width: 100%;
    height: 100vh;
    background-size: 100% 100%;
    }
}

@media only screen and (min-width: 768px) {
  main {
    align-items: center;
  }

  .selected-heroes, .hero-list {
    width: 80%;
  }

  .superimg {
    height: 160px;
    width: 600px;
  }

}

@media only screen and (min-width: 1024px) {
  .selected-heroes, .hero-list {
    width: 70%;
  }

  .superimg {
    height: 175px;
    width: 700px;
  }
}