.card {
  position: relative;
  border: 1px solid black;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3F5678;
  border-radius: 5px;
  margin: 15px 0 15px 0;
}

.attack-type {
  width: 30px;
  height: 30px;
  margin: 5px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid black;
}

.large {
  width: 110px;
  height: 220px;
  font-size: 15px;
  color: #CCCCCC;
}

.small {
  width: 55px;
  height: 110px;
  font-size: 10px;
  color: #CCCCCC;
}

.small .attack-type {
  width: 20px;
  height: 20px;
}

p {
  margin: 0;
}

.title {
 text-align: center;
}

.hero-image {
  width: 90%;
  height: 50%;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #1F2932;
  margin: 3px
}

.attack-range {
 position: absolute;
 bottom: 0%;
 right: 0%;
 transform: translate(-25%, -50%);

}

.health {
 position: absolute;
 bottom: 0%;
 left: 0%;
 transform: translate(50%, -50%);
}