<main [ngClass]="currentBackground">
  <div class="table">
    <div class="setOfCards" [ngClass]="{ 'empty' : computerHeroes.length === 0 }">
      <card class="card computer-deck" [hero]="computerHeroes[3]" [cardSize]="'small'">
      </card>
      <card class="card computer-deck" [hero]="computerHeroes[2]" [cardSize]="'small'">
      </card>
      <card class="card computer-deck" [hero]="computerHeroes[0]" [cardSize]="'small'">
      </card>
      <card class="card computer-deck" [hero]="computerHeroes[1]" [cardSize]="'small'">
      </card>
      <card class="card computer-deck" [hero]="computerHeroes[4]" [cardSize]="'small'">
      </card>
      <div class="card cover">
        <img class="computer-image" src="../../assets/images/icons/star1.png" alt="">
        <p>CPU Deck</p>
      </div>
    </div>
    <health class="health-bar" [name]="'CPU'" [health]="computerHealth()"></health>
    <div class="battle-area">
      <card class="computer-card"
      *ngIf="currentComputerHero()"
      [hero]="currentComputerHero()"
      [cardSize]="'large'"
      [hasAdvantage]="computerHasAdvantage()"
      [@PlayComputerCard] 
      [@ComputerDeath]="currentComputerHero().currentHealth <= 0 ? currentAttackAnimation() : null"
      [@ComputerAttack]="(currentAttack() && currentAttack().attacker === currentComputerHero()) ? currentAttackAnimation() : 'none'">
      </card>
      <div class="separator"></div>
      <card class="user-card"
      *ngIf="currentPlayerHero()"
      [hero]="currentPlayerHero()"
      [cardSize]="'large'" 
      [hasAdvantage]="playerHasAdvantage()"
      [@PlayUserCard]
      [@UserDeath]="currentPlayerHero().currentHealth <= 0 ? currentAttackAnimation() : null"
      [@UserAttack]="(currentAttack() && currentAttack().attacker === currentPlayerHero()) ? currentAttackAnimation() : 'none'">
      </card>
      <img class="pow" *ngIf="currentHitEffect()" src="../../assets/images/hit-effects/{{currentHitEffect()}}-640.png" alt="Pow" [@Pow]="currentAttackTarget()" (@Pow.start)="punchAudio()">
      <div class="damage-number" *ngIf="currentAttack()" [@DamageDealt]="currentAttackTarget()" [@AdvantageDamageDealt]="currentPlayerHasAdvantage()">-{{currentAttack().damage}}</div>
    </div>
    <div class="user-deck">
      <card class="user-hand-card" *ngFor="let hero of playerHeroes; index as i"
        [ngClass]="{ 'selectable': playerInputNeeded }" [hero]="hero" [cardSize]="'small'"
        (click)="playerInputNeeded ? choosePlayerCard(i) : null"></card>
    </div>
  </div>
</main>