main {
  background-image: linear-gradient(rgba(26, 50, 62, 0.8), rgba(26, 50, 62, 0.8));
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

.table {
  border: 1px solid black;
  width: 95vw;
  height: 90vh;
  text-align: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:rgb(32, 33, 35, 0.73);
  border-radius: 10px;
}

.battle-area {
  width: 320px;
  display: flex;
  justify-content: center;
  position: relative;
}

.computer-card, .user-card {
  z-index: 1;
}

.separator {
  flex: 10;
}

.pow, .damage-number {
  z-index: 2;
  position: absolute;
  display: none;
  top: 0;
}

.pow {
  width: 90px;
}

.damage-number {
  font-size: 20px;
  color: red;
  text-shadow: 1px 1px 2px black;
}

.setOfCards {
  height: 110px;
  width: 55px;
  padding: 5px;
  margin: 0 0 15px 0;
  position: relative;
}

.card {
  height: 110px;
  width: 55px;
  margin: 15px 0 15px 0;
  background: #3F5678;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-origin: 25% bottom;
          transform-origin: 25% bottom;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cover {
  width: 90%;
  height: 90%;
  padding: 10px;
  border: 1px solid black;
}

.setOfCards:hover .cover {
  display: none;
}

.setOfCards:hover .card:nth-child(1) {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.setOfCards .card:hover:nth-child(1) {
  -webkit-transform: rotate(-40deg) translateY(-25px);
          transform: rotate(-40deg) translateY(-25px);
}

.setOfCards:hover .card:nth-child(2) {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.setOfCards .card:hover:nth-child(2) {
  -webkit-transform: rotate(-20deg) translateY(-25px);
          transform: rotate(-20deg) translateY(-25px);
}

.setOfCards:hover .card:nth-child(3) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.setOfCards .card:hover:nth-child(3) {
  -webkit-transform: rotate(0deg) translateY(-25px);
          transform: rotate(0deg) translateY(-25px);
}

.setOfCards:hover .card:nth-child(4) {
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.setOfCards .card:hover:nth-child(4) {
  -webkit-transform: rotate(20deg) translateY(-25px);
          transform: rotate(20deg) translateY(-25px);
}

.setOfCards:hover .card:nth-child(5) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.setOfCards .card:hover:nth-child(5) {
  -webkit-transform: rotate(40deg) translateY(-25px);
          transform: rotate(40deg) translateY(-25px);
}

.empty {
  opacity: 0;
}

.health-bar {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 10px;
}

.computer-image {
  width:90%;
  height: 50%;
  border: 3px solid black;
  background-color: #1F2932;
  border-radius: 5%;
}

.user-deck {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 305px;
  padding-bottom: 15px;
}

.user-hand-card {
  margin: 0 10px;
  border-radius: 5px;
  transition: box-shadow 0.25s;
}

.gotham {
  background-image: url("../../assets/images/backgrounds/Background-Gotham.jpg");
}

.futuristic {
  background-image: url("../../assets/images/backgrounds/futuristic.jpg");
}

.metropolis {
  background-image: url("../../assets/images/backgrounds/metropolis.jpg");
}

.asgard {
  background-image: url("../../assets/images/backgrounds/Asgard.png");
}

.triskelion {
  background-image: url("../../assets/images/backgrounds/Triskelion.png");
}

.fortress {
  background-image: url("../../assets/images/backgrounds/The-Fortress-of-Solitude.jpg");
}

.tower {
  background-image: url("../../assets/images/backgrounds/Avengers_Tower_AoU.png");
}

.atlantis {
  background-image: url("../../assets/images/backgrounds/Aquaman-atlantis-movie.jpg");
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  box-shadow: 0 0 15px 5px gold;
}

@media only screen and (min-width: 768px) {
  .user-deck {
    min-height: 155px;
  }
}
