<main>
  <div class="table">
    <div class="computer-deck">CPU Deck
      <div class="computer-image"></div>
    </div>
    <div class="battle-area">
      <card class="computer-card" *ngIf="currentComputerHero()" [hero]="currentComputerHero()" [cardSize]="'large'" 
      [@PlayComputerCard] 
      [@ComputerDeath]
      [@ComputerAttack]="(currentAttack() && currentAttack().attacker === currentComputerHero()) ? 'attacking' : null">
      </card>
      <card class="user-card" *ngIf="currentPlayerHero()" [hero]="currentPlayerHero()" [cardSize]="'large'" 
      [@PlayUserCard]
      [@UserDeath]
      [@UserAttack]="(currentAttack() && currentAttack().attacker === currentPlayerHero()) ? 'attacking' : null"></card>
    </div>
    <div class="user-deck">
      <card *ngFor="let hero of playerHeroes; index as i"
        [hero]="hero"
        [cardSize]="'small'"
        (click)="playerInputNeeded ? choosePlayerCard(i) : null"></card>
    </div>


  </div>
</main>