<main>
  <div class="logo">Logo</div>
  <div class="selected-heroes">
    <div class="selected-heroes-nav">
      <p class="label">Your Heroes</p>
      <img class="attack-icon" src="../../assets/images/icon_sword.png" alt="">
      <img class="life-icon" src="../../assets/images/Icon_life.png" alt="">
      <img class="element-icon" src="../../assets/images/Icon_mental.png" alt="">
    </div>
    <div class="hero"
    [ngClass]="hero.type.type"
    *ngFor="let hero of selectedHeroes; index as i"
    (click)="deselectHero(i)">
      <p class="selected">{{ hero.hero }}</p>
      <p class="attack-range">{{hero.min_damage}}-{{hero.max_damage}}</p>
      <p class="health">{{hero.health}}</p>
      <img class="selected-type" src="../../assets/images/Icon_{{ hero.type.type }}.png" alt="">
    </div>
  </div>
  <div class="hero-list">
    <div class="hero-list-nav">
      <p class="label">Hero Roster</p>
      <!-- <img class="attack-icon" src="../../assets/images/icon_sword.png" alt="">
      <img class="life-icon" src="../../assets/images/Icon_life.png" alt="">
      <img class="element-icon" src="../../assets/images/Icon_mental.png" alt=""> -->
    </div>
    <div class="hero"
    [ngClass]="hero.type.type"
    [ngStyle]="{'cursor': allHeroesPicked() ? 'not-allowed' : 'pointer'}"
    *ngFor="let hero of heroes; index as i"
    (click)="selectHero(i)">
      <p class="hero-name">{{ hero.hero }}</p>
      <p class="attack-range">{{hero.min_damage}}-{{hero.max_damage}}</p>
      <p class="health">{{hero.health}}</p>
      <!-- <p class="hero-type">{{ hero.type.type }}</p> -->
      <img class="hero-type" src="../../assets/images/Icon_{{ hero.type.type }}.png" alt="">
    </div>
  </div>
  <button *ngIf="allHeroesPicked()" (click)="submitSelection()">Fight</button>
</main>