<main>
  <div class="logo">Logo</div>
  <div class="selected-heroes">
    <div *ngFor="let hero of selectedHeroes; index as i" (click)="deselectHero(i)">
      <p class="selected">{{ hero.hero }}</p>
    </div>
  </div>
  <div class="hero-list">
    <div class="hero" *ngFor="let hero of heroes; index as i" (click)="selectHero(i)">
      <p class="hero-info">{{ hero.hero }}</p>
      <p class="hero-info type">{{ hero.type.type }}</p>
    </div>
  </div>
  <button *ngIf="selectedHeroes.length === 5" (click)="submitSelection()">Fight</button>
</main>