main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.selected-heroes, .hero-list {
  border: 1px solid black;
  /* border-bottom: none; */
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.selected-heroes-nav {
  display: flex;
}

.selected-heroes-nav > * {
  margin: 7px 10px;
}

.hero-list-nav {
  display: flex;
}

.hero-list-nav > * {
  margin: 7px 10px;
}

.label {
  margin: 10px;
  flex: 1;
}

.hero {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid black;

  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

.hero > * {
  margin: 0 10px;
}

.hero-name {
  flex: 1;
}

.hero-type {
  width: 20px;
  height: 20px;
}

.selected-type {
  width: 20px;
  height: 20px;
}

.attack-icon {
  width: 20px;
  height: 20px;
  padding-right: 14px;
}

.life-icon {
  width: 20px;
  height: 20px;
}

.element-icon {
  width: 20px;
  height: 20px;
  padding-right: 10px;
}

.selected {
  flex: 1;
}

.logo {
  margin-bottom: 5%;
  position: relative;
  /* left: 45%; */
  font-family: 'Badaboom';
  font-size: 100px;
  text-align: center;
}

button {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  background-color: red;
  color: aliceblue;
  font-family: inherit;
  cursor: pointer;
}

.strength:hover, .agility:hover, .mental:hover, .mechanical:hover, .elemental:hover {
  color: white;
}

.strength:hover {
  background-color: #d01822;
}

.agility:hover {
  background-color: #3d7662;
}

.mental:hover {
  background-color: #fba1a3;
}

.mechanical:hover {
  background-color: #6d6966;
}

.elemental:hover {
  background-color: #c75724;
}