.selected-heroes {
  border: 1px solid black;
  border-bottom: none;
}

.hero-list {
  border: 1px solid black;
}

.selected {
  border-bottom: 1px solid black;
}

.hero {
  display: flex;
  flex-direction: column;
  margin-bottom: -15%;
}

.hero-info {
  border-bottom: 1px solid black;
}

.type {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 52px;
}

.logo {
  margin-bottom: 5%;
  position: relative;
  left: 45%;
  font-family: 'Badaboom';
  font-size: 100px;
}

button {
  margin-top: 15px;
    padding: 5px;
    border: 1px solid black;
    background-color: red;
    color: aliceblue;
}