main {
    background-image: url(../../assets/images/heaven.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

  }
.ending{
        display: flex;
        flex-direction: column;
        justify-items: center;
        width: 25%;
        position: relative;
        left: 50%;
        top: auto;
        transform: translate(-50%, 50%);
        /* padding: 75px; */
        background-color: grey;
        color: aliceblue;
        align-items: center;
        border-radius: 10px;
}

button {
        border-radius: 5px;
        /* width: 10%; */
        padding: 3px;
        background: red;
        color: aliceblue;
        font-family: inherit;
    }