main {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ending{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgba(0, 0, 0, 0.7);
  color: aliceblue;
  border-radius: 10px;
  border: 1px solid aliceblue;

  width: 50%;
  padding: 5px;
}

.message, button {
  margin: 10px 0;
}

button {
  border-radius: 5px;
  border: 1px solid aliceblue;
  /* width: 10%; */
  padding: 5px;
  background-color: red;
  color: inherit;
  font-family: inherit;
}

.victory {
  background-image: url("../../assets/images/backgrounds/heaven.jpg");
}

.defeat {
  background-image: url("../../assets/images/backgrounds/helldefeat.jpg");
}